<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>News Scraper</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <link rel="stylesheet" href="..public/css/style.css">
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <div class="container innerTitle bg-info p-3">
                    <h1 class="display-5">Scrapping for News</h1>
                    <h2>A platform scraping current news</h2>
                    <p class="lead">Find news & leave notes.</p>
                </div>
            </div>
            
            <form action="/" method="GET">
                <button class="btn btn-danger save mt-5 mb-0">Scrape it up!
                </button>
            </form>
        </div>

        {{{ body }}}

    </body>

</html>